


#navm {display:none}
#titlelr {display: none}


body {
	background-color: rgb(144,51,153);
  background-image: url(sc2gr.jpg);
  background-repeat: no-repeat;
    }
/* navigation bar-desktop*/
ul {
    top: 0;
	left: 0;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #442288;
	width: 100%;
	text-align: center;
	z-index: 2;
		}

li {
    display: inline-block;
    margin: 0
  			}

li a, .dropbtn {
    display: inline-block;
    color: gold;
    text-align: center;
    padding: 0.23vw 0.35vw;
    text-decoration: none;
	font-family: "Baar Metanoia";
	font-size: 1.2vw;


		}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #8800aa;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
	    }
.active {
    background-color: rgb(144,51,153);
}
li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(70,60,100,0.9);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: #bba700;
    padding: 6px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: "Baar Metanoia";
    font-weight: bold;
}

.dropdown-content a:hover {background-color: rgba(50,34,105,1.6)}

.dropdown:hover .dropdown-content {
    display: block;
}
/* end of navigation bar-desktop*/
/* navigation bar-mobile*/
/* Add a black background color to the top navigation */
.topnav {
   margin-top:0px;
   margin-left: 0px;
   background-color: #442288;
   overflow: hidden;
   position:fixed;
   top:0;
   left:0;
   width: 100vw;
   z-index: 2;
}

/* Style the links inside the navigation bar */
.topnav a {
   float: left;
   display: block;
   color: gold;
   text-align: center;
   padding: 0.23vw 16px;
   text-decoration: none;
   font-size: 17px;
   margin: 0;
   }

/* Change the color of links on hover */
.topnav a:hover {
   background-color: #8800aa;
   color: gold;
}

/* Add an active class to highlight the current page */
.active {
   background-color: #4CAF50;
   color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
   display: none;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1024px) {
.topnav a:not(:first-child) {display: none;}
.topnav a.icon {
  float: right;
  display: block;
}
}
@media screen and (max-width: 300px) {


}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1024px) {
  .topnav.responsive {   position:fixed;
     top:0;
     left:0;
     width: 100vw;
   z-index: 2;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/* end of navigation bar-mobile*/

p.date {
	font-family: "comic sans ms";
    font-size: 20px;
    text-align:center;
	margin-right:22px;
    margin-bottom:30px;
	margin-top:0px;
	color: gold;
}
h2 {
	margin-top: 30px;
    color: gold;
	text-align:center;
	font-size: 30px;
	font-family: "comic sans ms";
	font-weight: normal;

}
h1 {
	margin-bottom: 80px;
    margin-top: 140px;
    color: gold;
	text-shadow: 10px 8px 8px #000000;
	text-align: center;
	font-family: "Baar Metanoia";
	font-size: 65px;
	font-weight: bold;
	font-style: italic;
}
img.a {
    border-radius: 10px;
    width:40%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    cursor: pointer;
}
p.img {
    text-align: justify;
    margin-right: 120px;
    margin-left: 120px;
    color: gold;
    font-size: 22px;
    font-family: "Calibri";
	}
  p.imgt {
    text-align: center;
    margin-top: 0.1vw;
    color: gold;
    font-size: 30px;
  }
/*e-book library image*/
.containerbr {
    position: relative;
	z-index: 0;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	}

.center {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5vw;
	color: #900000;
	font-weight: bold;
	background-color: rgba(255, 249, 242, 0.7);
	text-shadow: 2px 2px 8px #000000;



}

img.br {
   	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 30px;
	width: 50%;
    height: auto;
    opacity: 1;
	}
/*end e-book library image*/

table {
	margin: auto;
	border: 1px solid #fff9f2;
	width: 80%;
	height: auto;
	background-color: #fff9f2;
	padding: 20px 110px;

	}
.title1 {
	color: rgb(130,51,153);
	font-weight: bold;
	font-style: italic;
	font-size: 30px;
	font-family: "calibri";
}
.title2 {
	color: black;
	font-size: 25px;
	font-style: italic;
	font-family: "calibri";
	font-weight: bold;
	margin-bottom: 30px;
}
.text {
	color: black;
	font-size: 22px;
	font-family: "calibri";
	text-align: justify;
	text-justify: auto;
	
	}
div.web a:link {
	color: gold
}
div.web a:visited {
	color: gold
}
div.web a:hover {
	color: gold;
}
div.web a:active {
	color: gold;
}
img.square {
	border-radius: 10px;
	float: left;
	margin-right: 0.5vw;
	margin-bottom: 1px;
	max-width: 26vw;
	max-height: 22vh;
	min-width: 20vw;
	min-height: 20vw;
}
img.hor {
	border-radius: 10px;
	float: left;
	margin-right: 10px;
	margin-bottom: 1px;
	max-width: 32vw;
	max-height: 40vh;
	min-width: 26vw;
	min-height: 15vw;
}
img.vert {
	border-radius: 10px;
	float: left;
	margin-right: 10px;
	margin-bottom: 5px;
	max-width: 20vw;
	max-height: 50vh;
	min-width: 18vw;
	min-height: 25vw;
}
.caption {
	font-size: 1.3em;
	float: left;
	text-align: center;
	color:#800000;
}
