body {
	background-color: #fff9f2;
	margin: 50px 100px;
		font-size: 22px;
	text-align: left;
	font-family: "calibri";
}

a:link {
	color: #a000a0
}
a:visited {
	color: #400040
}
a:hover {
	color: #f030c0;
}
a:active {
	color: #f09009;
}
.header {
	color: #800000;
	text-align: center;
	font-family: "comic sans ms";
	font-size: 43px;
	margin-top: 15px;
	font-weight: normal;
	text-shadow: 1px 1px 5px rgba(150, 0, 0, 0.4);
}
.header-small {
	color: #700000;
	text-align: center;
	font-family: "comic sans ms";
	font-size: 25px;
	margin-top: 15px;
	font-weight: normal;
}
.author {
	color: #000000;
	text-align: center;
	font-family: "calibri";
	font-size: 25px;
	font-style: italic;
	font-weight:bold;
	margin-bottom: 70px;
	text-shadow: 1px 1px 5px rgba(0, 90, 0, 0.4);

}
.header2 {
	color: #000000;
	font-size: 20px;
	text-decoration: underline dotted red;
	font-weight: bold;
	font-family: carlito, calibri;
	 
}
p.intro::first-letter {
    color: #800000;
    font-size:110%;
	font-weight: bold;
}
.indent {
	text-indent: 50px;
}
.footnote {
	font-style: italic;
	font-weight: bold;
	}
img.a {
	border-radius: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}
div.polaroid {
  display: block;
  float: left;
  width: 200px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
  margin-right: 15px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}