body {
    margin: 0;
}
.intro-screen-title {
    left: 42%;
    text-align: center;
    top: 35%;
}
#top-bar-title {
    font-size: 1.2vw;
    margin-right: 1em;
}
#date-and-issue {
    font-size: 1vw;
}
#top-bar-right-div {
    padding-right: 1em;
    width: 100%;
}
#search-bar {
    width: 13vw;
}
#share-icons {
    width: 18vw;
}
#logo-face,
#logo-mail,
#logo-twitter {
    width: 1.9em;
}
#logo-mail {
    margin-top: 0.25em;
}
#light_dark {
    font-size: 0.9vw;
}
#light_dark div {
    justify-content: space-evenly;
}
#light_dark img {
    width: 55%;
}
#light-dark-warning {
    font-size: 1.2vw;
    padding: 5.5em 0.5em 0;
    right: 0;
    width: 10vw;
}
header {
    background-position: 100%;
    background-size: contain;
    margin-top: 2em;
    padding: 0.5em 0.5em 0.5em 3.5em;
}
header h1 {
    font-size: 4vw;
}
#title-break-2 {
    display: none;
}
header h2 {
    font-size: 2.2vw;
    font-weight: 700;
    width: 70%;
}
#nav-col {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    margin: 1%;
    order: 2;
    width: 20%;
}
.nav-menu {
    padding: 1em;
}
.nav-menu div {
    font-size: 1.7vw;
    white-space: nowrap;
}

.subscribe-alert {
    font-size: 1.35vw;
}
main {
    margin: 1% 0 1% 2%;
    width: 75%;
}
.category-title {
    font-size: 3vw;
}
.article-style {
    padding: 0.5em 1em 1.5em 2em;
}
.article-style p {
    font-size: 1.2vw;
}
.article-style h1 {
    font-size: 2.1vw;
}
.article-style h2 {
    font-size: 2.7vw;
}
.article-style h3 {
    font-size: 1.8vw;
    margin-left: 2em;
    margin-top: -1em;
}
.article-img {
    border-radius: 5px;
    float: left;
    margin-bottom: 0.5em;
    margin-right: 1em;
    max-width: 40%;
}
#main-div p {
    margin-left: 2em;
    margin-right: 2em;
}
#pic-nav-archive {
    width: 20%;
}
#pic-nav-letters {
    height: 180px;
    width: 13%;
}
#pic-nav-ebooks {
    width: 20%;
}

footer {
    padding: 0.5em;
    width: 100%;
}
footer [data-footer-div] {
    padding: 1em;
    width: 50%;
}
#footer-left,
#footer-right {
    display: flex;
    width: 50%;
    margin: 0;
    padding: 0;
}
#footer-fourth {
    padding-left: 2em;
}
.desktop-hide {
    display: none;
}
@-webkit-keyframes scroll {
    0% {
        top: -10em;
    }
    12% {
        top: -1em;
    }
    65% {
        top: -1em;
    }
    to {
        top: -10em;
    }
}
@keyframes scroll {
    0% {
        top: -10em;
    }
    12% {
        top: -1em;
    }
    65% {
        top: -1em;
    }
    to {
        top: -10em;
    }
}
