#logo {
    -webkit-animation: color 0.5s ease-in-out 4.3s;
    animation: color 0.5s ease-in-out 4.3s;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    background-color: currentColor;
    border: 5px solid #000;
    border-radius: 50%;
    color: #a00;
    cursor: pointer;
    display: none;
    height: 100px;
    left: 100px;
    overflow: hidden;
    position: absolute;
    top: 100px;
    width: 100px;
}
#logo:hover {
    color: #c00;
}
#logo:before {
    -webkit-animation: movea 1.5s 2.5s, apear 3.5s;
    animation: movea 1.5s 2.5s, apear 3.5s;
    -webkit-animation-timing-function: cubic-bezier(1, 0.9, 2.45, 0.2);
    animation-timing-function: cubic-bezier(1, 0.9, 2.45, 0.2);
    border-color: transparent transparent #fff;
    border-style: solid;
    border-width: 80px 55px 27px 31px;
    height: 0;
    left: -60px;
    top: -80px;
    transform: rotate(250deg);
    transform-origin: 95% 95%;
    width: 0;
}
#logo:after,
#logo:before {
    content: "";
    position: absolute;
    z-index: 2;
}
#logo:after {
    -webkit-animation: bin 0.5s ease-in 2s;
    animation: bin 0.5s ease-in 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    background-color: #fff;
    border-radius: 0 100% 80% 0;
    box-shadow: 4px 40px 0 4px #fff;
    height: 30px;
    left: 38px;
    top: 9px;
    transform: rotate(-20deg);
    width: 30px;
}
#logo2 {
    background-color: transparent;
    border-radius: 50%;
    height: 100px;
    left: -5px;
    position: absolute;
    top: -5px;
    width: 100px;
}
#logo2:before {
    -webkit-animation: movea 1.5s 2.5s, apear 3.5s;
    animation: movea 1.5s 2.5s, apear 3.5s;
    -webkit-animation-timing-function: cubic-bezier(0, 1, 2.45, 232);
    animation-timing-function: cubic-bezier(0, 1, 2.45, 232);
    border-color: transparent transparent #000;
    border-style: solid;
    border-width: 80px 70px 34px 32px;
    height: 0;
    left: -70px;
    top: -65px;
    transform: rotate(250deg);
    transform-origin: 85% 85%;
    width: 0;
}
#logo2:after,
#logo2:before {
    content: "";
    position: absolute;
}
#logo2:after {
    -webkit-animation: bin 0.5s ease-in 2s;
    animation: bin 0.5s ease-in 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    border-radius: 0 100% 80% 0;
    box-shadow: 4px 40px 0 4px #000;
    height: 37px;
    left: 40px;
    top: 11px;
    width: 37px;
}
#logo2:after,
#logo-line {
    background-color: #000;
    transform: rotate(-20deg);
}
#logo-line {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-name: moveline;
    animation-name: moveline;
    -webkit-animation-play-state: running;
    animation-play-state: running;
    -webkit-animation-timing-function: cubic-bezier(0, 1, 2.45, 98);
    animation-timing-function: cubic-bezier(0, 1, 2.45, 98);
    height: 5px;
    left: -5px;
    top: 42px;
}
#logo-line,
#logo-line:after {
    position: absolute;
    width: 0;
    z-index: 3;
}
#logo-line:after {
    background-color: #000;
    content: "";
    display: none;
    height: 3px;
    left: -64px;
    top: -30px;
    transform: rotate(-65deg);
    transform-origin: right;
}
@-webkit-keyframes movea {
    0% {
        transform: rotate(250deg);
    }
    25% {
        transform: rotate(255deg);
    }
    50% {
        transform: rotate(250deg);
    }
    75% {
        transform: rotate(255deg);
    }
}
@keyframes movea {
    0% {
        transform: rotate(250deg);
    }
    25% {
        transform: rotate(255deg);
    }
    50% {
        transform: rotate(250deg);
    }
    75% {
        transform: rotate(255deg);
    }
}
@-webkit-keyframes moveline {
    0% {
        transform: rotate(-10deg);
        width: 0;
    }
    to {
        transform: rotate(-20deg);
        width: 110%;
    }
}
@keyframes moveline {
    0% {
        transform: rotate(-10deg);
        width: 0;
    }
    to {
        transform: rotate(-20deg);
        width: 110%;
    }
}
@-webkit-keyframes bin {
    0% {
        left: 200px;
    }
    to {
        left: 38px;
    }
}
@keyframes bin {
    0% {
        left: 200px;
    }
    to {
        left: 38px;
    }
}
@-webkit-keyframes apear {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes apear {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes color {
    0% {
        color: #b00;
    }
    10% {
        color: #a00;
    }
    20% {
        color: #b00;
    }
    30% {
        color: #a00;
    }
    40% {
        color: #b00;
    }
    50% {
        color: #a00;
    }
    60% {
        color: #b00;
    }
    70% {
        color: #a00;
    }
    80% {
        color: #b00;
    }
    90% {
        color: #a00;
    }
    to {
        color: #b00;
    }
}
@keyframes color {
    0% {
        color: #b00;
    }
    10% {
        color: #a00;
    }
    20% {
        color: #b00;
    }
    30% {
        color: #a00;
    }
    40% {
        color: #b00;
    }
    50% {
        color: #a00;
    }
    60% {
        color: #b00;
    }
    70% {
        color: #a00;
    }
    80% {
        color: #b00;
    }
    90% {
        color: #a00;
    }
    to {
        color: #b00;
    }
}
