/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;  
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*endreset*/
/* font downloaded from 1001freefonts.com and converted using font-converter.net. */
@font-face {
	font-family: typef;
	src: url("/fonts/Fluox.eot"); /* IE9 Compat Modes */
	  src: url("/fonts/Fluox.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	    url("/fonts/Fluox.otf") format("opentype"), /* Open Type Font */
	    url("/fonts/Fluox.svg") format("svg"), /* Legacy iOS */
	    url("/fonts/Fluox.ttf") format("truetype"), /* Safari, Android, iOS */
	    url("/fonts/Fluox.woff") format("woff"), /* Modern Browsers */
	    url("/fonts/Fluox.woff2") format("woff2"); /* Modern Browsers */
	  font-weight: normal;
	  font-style: normal;
}
/* font downloaded from 1001freefonts.com and converted using font-converter.net. */
@font-face {
	font-family: norton-1;
	src: url("/fonts/NORTON.eot"); /* IE9 Compat Modes */
  src: url("/fonts/NORTON.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/NORTON.otf") format("opentype"), /* Open Type Font */
    url("/fonts/NORTON.svg") format("svg"), /* Legacy iOS */
    url("/fonts/NORTON.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/NORTON.woff") format("woff"), /* Modern Browsers */
    url("/fonts/NORTON.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
/* font downloaded from 1001freefonts.com and converted using font-converter.net. */
@font-face {
	font-family: sensation;
	src: url("/fonts/SensationsandQualities.eot"); /* IE9 Compat Modes */
  src: url("/fonts/SensationsandQualities.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/fonts/SensationsandQualities.otf") format("opentype"), /* Open Type Font */
    url("/fonts/SensationsandQualities.svg") format("svg"), /* Legacy iOS */
    url("/fonts/SensationsandQualities.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/fonts/SensationsandQualities.woff") format("woff"), /* Modern Browsers */
    url("/fonts/SensationsandQualities.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
	overflow-x: : hidden;
	background-color: #aa88cc;
}
.sharethis-sticky-share-buttons{
	display: none;
}
#navm {display:none}
#titleMov {display: none}
#sharem {display: none}
a:hover {
	color: darkblue;
}
.preheader {
	background-color: #202040;
	margin :0;
	width: 99%;
	color:#ddd;
	padding: 7px;
	overflow: hidden;
}
.date {
	font-size:1.3em;
}
header {
  background-color: #aa88cc;
  margin-top: -20;
	clear: both;
	background-image: url(southerncrossbanner2.jpg);
	background-repeat: no-repeat;
	background-position: right;
	background-size: 40%;
	color: #303;
}
h1 {
  font-family: norton-1;
  font-size: 7vw;
  margin-left: 3vw;
  margin-bottom: 0;
  text-shadow: 2px 4px 18px  #443366,-2px -4px 10px #443366;

}
h2 {
	font-size: 5em;
  text-shadow: -2px -4px 6px #442277, 2px 4px 6px #ccaaff;
  text-align: center;
	font-family: sensation;
	line-height: 50px;
	color: #304;
	margin-top: 2vh;
	margin-bottom: 3vh;
}
h3 {
	font-family: Georgia, serif;
	font-size: 3em;
		color: #fdf;
	font-style:italic;
	margin-bottom:1em;
	margin-top:0.5em;
	margin-left: 2em;
	text-shadow: 2px 4px 9px #220055;

}
h4 {
	font-family: Georgia, serif;
	font-size: 2.5em;
	font-style:italic;
	margin-bottom: 0.5em;
}

/*NAV-BAR*/
#navbar {
 background-color: #aa88cc;
}


/* Page content */
.content {
 padding: 0px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
 position: fixed;
 top: 0;
 width: 100%;
 z-index: 2;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.content-top-margin {
 padding-top: 3em;
}



/* navigation bar-desktop*/
#navbar ul {
    top: 0;
	left: 0;
      list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #aa88cc;
	text-align: center;
	z-index: 2;
	white-space: nowrap;
	overflow: hidden;
		}

#navbar li {
    display: inline-block;
    margin: 0
  			}

#navbar li a, .dropbtn {
    display: inline-block;
    color: black;
    padding: 2vh 0.57vw;
    text-decoration: none;
	font-family: "Baar Metanoia";
	font-size: 1.28vw;
	white-space: normal;
	max-width: 50vw;
		}

#navbar li a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(153,119,187,0.3) ;
	text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.9);
	border-radius: 10px;

	    }


.active {
    background-color: rgb(144,51,153);
}
li.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: RGBA(170, 136, 204, 0.9);
    box-shadow: 0px 5px 12px 5px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
		text-align: left;
		padding-left: 0.5em;
		padding-right: 0.5em;


}

.dropdown-content a {
    color: #aa88cc;
	   text-decoration: none;
      font-family: "Baar Metanoia";
    font-weight: bold;

}


.dropdown:hover .dropdown-content {
    display: block;
}
/* end of navigation bar-desktop*/
div.dark-img {
	border-radius: 5px;
	margin-left:2vw;
	margin-right:2vw;
	overflow:hidden;
	background-color:rgba(0,0,0,0.4);
	padding:20px;
	padding-left: 3%;
	padding-right: 3%;
	margin-bottom:5vh;
	clear:both;
}
img.a {

    width:95%;
    border-radius: 5px;
}
div.mainimg {
	width:48%;
	float:left;
	margin-bottom: 0;

}

p.titleimg {
	font-size:2em;
	text-align:center;
	margin-bottom:20px;
	color: gold;
}


p.imgtext {
	color: gold;
	font-size:1.3em;

}
/*e-book library image*/
.containerbr {
  position: relative;
	z-index: 0;
	width: 17vw;
	margin-left: 12vw;
	float: left;
	max-height: 95%;
	overflow: hidden;
	display:table-cell;
  text-align: center;
	margin-bottom: 1em;
	}
	.containerbr2 {
	  position: relative;
		z-index: 0;
		width: 28vw;
		margin-right: auto;
		margin-left: auto;
		height: 100%;
		overflow: hidden;
	  text-align: center;
		margin-bottom: 1em;
		}
	.containerbr1 {
		overflow: hidden;
		position: relative;
		z-index: 0;
		width: 25vw;
		height: 100%;
		display: block;
		}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.8em;
	color: #900000;
	font-weight: bold;
	background-color: rgba(255, 249, 242, 0.6);
	width: 90%;
	text-align: center;
}


img.br {
   	margin: 0;
	  width:100%;
    opacity: 1;
		min-height: 49vh;
		height: 100%;

	}
/*end e-book library image*/

img.fts {
	border-radius:5px;
	margin-right:auto;
	margin-left:auto;
	margin-bottom: 10px;
	display:block;
	width:auto;
	max-height:50%;

}
p.find {
	font-size:1.3em;
	color:black;
	text-align:left;

}
div.dark {
	border-radius: 5px;
	margin-left:2vw;
	margin-right:2vw;
	overflow:hidden;
	background-color:rgba(0,0,0,0.4);
	padding:20px;
	margin-bottom:5vh;
	clear:both;
}

div.white {
	border-radius: 5px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 20px;
	margin-bottom: 8vh;
	width:90%;
	background-color:#fff9a2;
	padding:3vw;
	overflow: hidden;
}
div.white a:link {
	color: #305;
}
div.white a:visited {
	color: #305;
}
div.white a:hover {
	color: #537;
}

div.transparent {
	clear:both;

	margin-left:0.5vw;
	margin-right:0.5vw;
	overflow:hidden;
	padding:20px;
}
div.quote {
	width:80%;
	float:left;
	padding-top:0;
	display:table-cell;
 vertical-align:middle;
  text-align:center
}
div.ebook {
	border-radius: 10px;
	background-color: rgba(0,0,0,0.4);
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	width:94%;
	height: 100%;
	margin-right:auto;
	margin-left:auto;
	overflow: hidden;
	margin-bottom: 2em;
	display: flex;
	justify-content: space-evenly;
	align-items: stretch;


}
.h12 {
	font-size:3em;
	margin-bottom:0.1em;
	display: none;
}
.h13 {
	font-family: norton-1;
	font-size:2.7em;
	margin-bottom:0.5em;
	margin-left: 1vw;
	text-align: center;

}


}




div.ebook a:link {
	color: gold;
}
div.ebook a:hover {
	color: yellow;
}
div.ebook a:visited {
	color: orange;
}
div.book {
	width:90%;
	background-color:rgba(255,255,255,0.5);
	padding:3vw;
	border-radius:10px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em

}
p.backcover {
	text-align:justify;
	font-size:1.5em;
	margin-bottom:0.4em;
}

img.square {
	border-radius: 10px;
	float: right;
	margin-left: 1.5em;
	margin-bottom: 1px;
	max-width: 26vw;
	max-height: 22vh;
	min-width: 20vw;
	min-height: 20vw;
}
img.hor {
	border-radius: 10px;
	float: right;
	margin-left: 1.5em;
	margin-bottom: 3px;
	max-width: 32vw;
	max-height: 40vh;
	min-width: 26vw;
	min-height: 15vw;
}
img.vert {
	border-radius: 10px;
	float: right;
	margin-bottom: 5px;
	max-width: 20vw;
	max-height: 50vh;
	min-width: 18vw;
	min-height: 25vw;
	margin-left: 1.5em;
}
p.text {
	font-size: 1.5em;
	text-align: justify;
}
.figure1 {
	float:right;
	margin:0;
	color:#302;

	font-size:1.3em;
	font-style: italic;
}
img.square:hover {
	box-shadow: 4px 4px 10px 2px #aa88aa;
}
img.vert:hover {
	box-shadow: 4px 4px 10px 2px #aa88aa;
}
img.hor:hover {
	box-shadow: 4px 4px 10px 2px #aa88aa;
}
.containerbr2:hover {
	box-shadow: 0px 0px 10px 2px #aa88aa;

}
.containerbr2:hover .center {
		color: #cc0000;
}

.containerbr:hover {
	box-shadow: 0px 0px 10px 2px #aa88aa;

}
.containerbr:hover .center {
		color: #cc0000;
}
.containerbr1:hover {
	box-shadow: 0px 0px 10px 2px #aa88aa;

}
.containerbr1:hover .center {
		color: #cc0000;
}
span.author {
	font-size:smaller;
	color:#434;
}
footer {
	position:relative;
	bottom: 0;
	margin-bottom: 0 !important;
	clear: both;
		background-color:rgba(200,200,200,0.7);
	height:50vh;
	padding-top:2em;
	padding-left: 2em;
	padding-bottom: 1em;
	overflow: hidden;
}
.backcover a:link {
	color: #ddd;
}
.backcover a:hover {
	color: #ff9;
}
.backcover a:visited {
	color: #aaa;
}
.backcover a:visited:hover {
	color:  #ff9;
}
#footer1{
	width:27%;margin-right:2.5em;float:left;overflow:hidden
}
#footer2 {
width:20%;float:left;overflow:hidden;padding-top:1em;margin-right:2em
}
#footer3 {
	width:23%;float:left;overflow:hidden;padding-top:1.5em;
}
#footerdark {
	margin-left: auto;margin-right: auto;width:80%;background-color:rgba(0,0,0,0.7);border-radius:5px;padding:2vw;
}
#footer4 {
	float:left;overflow:hidden;padding-top:1.5em;width:20%;margin-left:1em
}
